.heard-logo {
    width: 0 auto;
    height: 200px;
    background-color: aqua;
}

img {
    width: 0 auto;
    height: 200px;
    float: right;
}

.articulo {
    width: 100%;
    background-color: chocolate;
    height: 300px;
    text-align: center;
}