body {
    background-color: deeppink;
}

.contenedor {
    width: 95%;
}

.logo {
    text-align: left;
    margin: 0 auto;
}

.logo h2 {
    text-transform: uppercase;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin: 0 auto;
}

a {
    color: white;
    text-decoration: none;
    background-color: crimson;
    text-transform: uppercase;
    padding: 10px;
    margin: 0 auto;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

a:hover {
    color: black;
    background-color: deepskyblue;
}

.navegaciono {
    background-color: antiquewhite;
    height: 60px;
}

.barra {
    text-align: right;
}

.heard-logo {
    width: 0 auto;
    height: 200px;
    background-color: aqua;
}

.heard-logo h1 {
    text-align: center;
    text-transform: uppercase;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding-top: 10px;
}

img {
    width: 0 auto;
    height: 200px;
    float: right;
}

.articulo {
    width: 100%;
    background-color: chocolate;
    height: 300px;
    text-align: center;
    margin-top: 10px;
    text-align: center;
}

.notas {
    width: 45%;
    float: left;
    margin: 10px;
}

.notas p {
    text-align: justify;
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 19px;
}

.articulo h2 {
    margin: 0 auto;
    padding-top: 10px;
    text-transform: uppercase;
    font-size: 40px;
    color: turquoise;
    border-bottom: 2px solid whitesmoke;
}